.timer {
    color: currentColor;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.time {
    font-size: 48px;
    margin: 20px 0;
    color: #333;
}

.btn {
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: auto;
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-primary {
    background-color: #c39be8;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 10%;
}

.btn-primary:hover {
    background-color: deeppink;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: 50ms ease-in-out;
}