* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
:root {
  --bg_color_default: #0c1027;
  --bg_color_1: #070130;
  --bg_color_2: #0d0065;
  --bg_color_3: #222b5c;
  --bg_music_bar: #2b2b2a;
  --font_color_1: white;
  --font_color_2: lightgrey;
  --font_color_3: #1db954;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--bg_color_default);
  /* padding: 2px;
  margin: 2px; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #70706e;
  color: aquamarine;
  font-family: sans-serif;
  width: 100%;
}

/* Brand styles */
.brand {
  display: flex;
  align-items: center;
}

.brand img {
  width: 30px; /* Adjust icon size */
  margin-right: 5px;
}

/* Links styles */
.links {
  display: flex;
  justify-content: flex-start;
}

.links a {
  margin: 0 10px;
  color: aquamarine;
  text-decoration: none;
}

/* Search & Profile styles */
.search-profile {
  display: flex;
  align-items: center;
}
.links a:hover {
  color: black;
  animation: ease-in-out 2s;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

/* Hamburger menu styles (hidden by default) */
.hamburger {
  display: none;
  cursor: pointer;
}
.profile a {
  margin: 0 10px;
  color: aquamarine;
  text-decoration: none;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  .links {
    display: none; /* Hide links */
  }

  .search-profile {
    display: none; /* Hide search & profile */
  }

  .hamburger {
    display: block; /* Display hamburger menu */
  }
}
/* ============= main section  ====================== */
.main-section {
  display: inline-block;
  width: 70%;
  background-color: var(--bg_color_default);
  color: var(--font_color_1);
  background-image: linear-gradient(#0c1027, #222b5c);
}
.card {
  width: 100;
}
.mySlides {
  height: 20rem;
  width: 100%;
  object-fit: contain;
  margin: 10px;
  padding: 2px;
}
.mySlides {
  display: none;
}
/* latest releases section================================= */
.latestcontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* width: 90%; */
}
.latestBox {
  display: flex;
  justify-content: flex-start;
  /* height: 10rem; */
  /* width: 80; */
  align-items: center;
}
.latestBox div {
  height: 10;
  width: 50%;
  margin: 10px;
  padding: 5px;
}
.latestBox img {
  height: 5rem;
  width: 5rem;
}
/* Artist Section========================================== */
.aritstcontainer {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: space-around;
  margin: 4rem, 0;
}
.artistBox {
  /* width: 15%; */
  text-align: center;
  padding: 3px;
}
.artistBox img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}
/* playlist section========================================== */
.playlistSection {
  margin: 10px;
}
.playlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--bg_color_3);
  justify-content: space-around;
  align-items: center;
}
.playlist .imgContainer {
  position: relative;
  text-align: center;
  color: white;
  margin: 1rem;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.playlist img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  opacity: 50%;
}
/* =========== genre section ========================================== */
.genre {
  display: flex;
  flex-wrap: wrap;
  /* width: inherit; */
  justify-content: space-around;
  padding: 3px;
}
.genreBox {
  width: 30%;
  height: 10rem;
  padding: 3px;
}
.genre .genreBox {
  position: relative;
  text-align: center;
  color: white;
  /* margin: 1rem; */
}
.genreBox img {
  width: 100%;
  height: inherit;
  border-radius: 5%;
  opacity: 70%;
}
/* **************Aside section********************************* */
.aside-section {
  display: inline-block;
  position: absolute;
  top: 10;
  width: 30%;
  height: 100%;
  background-color: var(--bg_color_default);
  margin-right: 1.5rem;
}
.queue-section {
  background-color: var(--bg_color_default);
  display: flex;
  height: 3rem;
  justify-content: space-around;
  align-items: center;
  color: var(--font_color_1);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.queue-list-songs {
  width: 100%;
  text-align: center;
  background-color: var(--bg_color_default);
  color: var(--font_color_1);
  font-family: "Lucida Sans", sans-serif;
}
.queue-list-songs table {
  width: 100%;
  text-align: center;
}
.queue-list-songs td {
  padding: 5px;
}
.queue-list-songs img {
  height: 3rem;
  width: 3rem;
}
.queue-list-songs .like img {
  height: 0.3rem;
  width: 0.3rem;
}
