/* .nav{
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: aqua;
    text-align: center;
    padding: auto;
    text-align: justify;
    align-items: normal;
}
.right{
    align-content: flex-start;
    align-items: flex-end;
}
.left{
    align-items: end;
    align-content: flex-end;
} */